.cc-phones .flag {
  background: url(../i/flags16.png) no-repeat; }
.cc-phones ._African_Union {
  background-position: 0 -16px; }
.cc-phones ._Arab_League {
  background-position: 0 -32px; }
.cc-phones ._ASEAN {
  background-position: 0 -48px; }
.cc-phones ._CARICOM {
  background-position: 0 -64px; }
.cc-phones ._CIS {
  background-position: 0 -80px; }
.cc-phones ._Commonwealth {
  background-position: 0 -96px; }
.cc-phones ._England {
  background-position: 0 -112px; }
.cc-phones ._European_Union {
  background-position: 0 -128px; }
.cc-phones ._Islamic_Conference {
  background-position: 0 -144px; }
.cc-phones ._Kosovo {
  background-position: 0 -160px; }
.cc-phones ._NATO {
  background-position: 0 -176px; }
.cc-phones ._Northern_Cyprus {
  background-position: 0 -192px; }
.cc-phones ._Northern_Ireland {
  background-position: 0 -208px; }
.cc-phones ._Olimpic_Movement {
  background-position: 0 -224px; }
.cc-phones ._OPEC {
  background-position: 0 -240px; }
.cc-phones ._Red_Cross {
  background-position: 0 -256px; }
.cc-phones ._Scotland {
  background-position: 0 -272px; }
.cc-phones ._Somaliland {
  background-position: 0 -288px; }
.cc-phones ._Tibet {
  background-position: 0 -304px; }
.cc-phones ._United_Nations {
  background-position: 0 -320px; }
.cc-phones ._Wales {
  background-position: 0 -336px; }
.cc-phones .eu {
  background-position: 0 -128px; }
.cc-phones .ad {
  background-position: 0 -352px; }
.cc-phones .ae {
  background-position: 0 -368px; }
.cc-phones .af {
  background-position: 0 -384px; }
.cc-phones .ag {
  background-position: 0 -400px; }
.cc-phones .ai {
  background-position: 0 -416px; }
.cc-phones .al {
  background-position: 0 -432px; }
.cc-phones .am {
  background-position: 0 -448px; }
.cc-phones .ao {
  background-position: 0 -464px; }
.cc-phones .aq {
  background-position: 0 -480px; }
.cc-phones .ar {
  background-position: 0 -496px; }
.cc-phones .as {
  background-position: 0 -512px; }
.cc-phones .at {
  background-position: 0 -528px; }
.cc-phones .au {
  background-position: 0 -544px; }
.cc-phones .aw {
  background-position: 0 -560px; }
.cc-phones .ax {
  background-position: 0 -576px; }
.cc-phones .az {
  background-position: 0 -592px; }
.cc-phones .ba {
  background-position: 0 -608px; }
.cc-phones .bb {
  background-position: 0 -624px; }
.cc-phones .bd {
  background-position: 0 -640px; }
.cc-phones .be {
  background-position: 0 -656px; }
.cc-phones .bf {
  background-position: 0 -672px; }
.cc-phones .bg {
  background-position: 0 -688px; }
.cc-phones .bh {
  background-position: 0 -704px; }
.cc-phones .bi {
  background-position: 0 -720px; }
.cc-phones .bj {
  background-position: 0 -736px; }
.cc-phones .bm {
  background-position: 0 -752px; }
.cc-phones .bn {
  background-position: 0 -768px; }
.cc-phones .bo {
  background-position: 0 -784px; }
.cc-phones .br {
  background-position: 0 -800px; }
.cc-phones .bs {
  background-position: 0 -816px; }
.cc-phones .bt {
  background-position: 0 -832px; }
.cc-phones .bw {
  background-position: 0 -848px; }
.cc-phones .by {
  background-position: 0 -864px; }
.cc-phones .bz {
  background-position: 0 -880px; }
.cc-phones .ca {
  background-position: 0 -896px; }
.cc-phones .cg {
  background-position: 0 -912px; }
.cc-phones .cf {
  background-position: 0 -928px; }
.cc-phones .cd {
  background-position: 0 -944px; }
.cc-phones .ch {
  background-position: 0 -960px; }
.cc-phones .ci {
  background-position: 0 -976px; }
.cc-phones .ck {
  background-position: 0 -992px; }
.cc-phones .cl {
  background-position: 0 -1008px; }
.cc-phones .cm {
  background-position: 0 -1024px; }
.cc-phones .cn {
  background-position: 0 -1040px; }
.cc-phones .co {
  background-position: 0 -1056px; }
.cc-phones .cr {
  background-position: 0 -1072px; }
.cc-phones .cu {
  background-position: 0 -1088px; }
.cc-phones .cv {
  background-position: 0 -1104px; }
.cc-phones .cy {
  background-position: 0 -1120px; }
.cc-phones .cz {
  background-position: 0 -1136px; }
.cc-phones .de {
  background-position: 0 -1152px; }
.cc-phones .dj {
  background-position: 0 -1168px; }
.cc-phones .dk {
  background-position: 0 -1184px; }
.cc-phones .dm {
  background-position: 0 -1200px; }
.cc-phones .do {
  background-position: 0 -1216px; }
.cc-phones .dz {
  background-position: 0 -1232px; }
.cc-phones .ec {
  background-position: 0 -1248px; }
.cc-phones .ee {
  background-position: 0 -1264px; }
.cc-phones .eg {
  background-position: 0 -1280px; }
.cc-phones .eh {
  background-position: 0 -1296px; }
.cc-phones .er {
  background-position: 0 -1312px; }
.cc-phones .es {
  background-position: 0 -1328px; }
.cc-phones .et {
  background-position: 0 -1344px; }
.cc-phones .fi {
  background-position: 0 -1360px; }
.cc-phones .fj {
  background-position: 0 -1376px; }
.cc-phones .fm {
  background-position: 0 -1392px; }
.cc-phones .fo {
  background-position: 0 -1408px; }
.cc-phones .fr {
  background-position: 0 -1424px; }
.cc-phones .bl {
  background-position: 0 -1424px; }
.cc-phones .cp {
  background-position: 0 -1424px; }
.cc-phones .mf {
  background-position: 0 -1424px; }
.cc-phones .yt {
  background-position: 0 -1424px; }
.cc-phones .ga {
  background-position: 0 -1440px; }
.cc-phones .gb {
  background-position: 0 -1456px; }
.cc-phones .sh {
  background-position: 0 -1456px; }
.cc-phones .gd {
  background-position: 0 -1472px; }
.cc-phones .ge {
  background-position: 0 -1488px; }
.cc-phones .gg {
  background-position: 0 -1504px; }
.cc-phones .gh {
  background-position: 0 -1520px; }
.cc-phones .gi {
  background-position: 0 -1536px; }
.cc-phones .gl {
  background-position: 0 -1552px; }
.cc-phones .gm {
  background-position: 0 -1568px; }
.cc-phones .gn {
  background-position: 0 -1584px; }
.cc-phones .gp {
  background-position: 0 -1600px; }
.cc-phones .gq {
  background-position: 0 -1616px; }
.cc-phones .gr {
  background-position: 0 -1632px; }
.cc-phones .gt {
  background-position: 0 -1648px; }
.cc-phones .gu {
  background-position: 0 -1664px; }
.cc-phones .gw {
  background-position: 0 -1680px; }
.cc-phones .gy {
  background-position: 0 -1696px; }
.cc-phones .hk {
  background-position: 0 -1712px; }
.cc-phones .hn {
  background-position: 0 -1728px; }
.cc-phones .hr {
  background-position: 0 -1744px; }
.cc-phones .ht {
  background-position: 0 -1760px; }
.cc-phones .hu {
  background-position: 0 -1776px; }
.cc-phones .id {
  background-position: 0 -1792px; }
.cc-phones .mc {
  background-position: 0 -1792px; }
.cc-phones .ie {
  background-position: 0 -1808px; }
.cc-phones .il {
  background-position: 0 -1824px; }
.cc-phones .im {
  background-position: 0 -1840px; }
.cc-phones .in {
  background-position: 0 -1856px; }
.cc-phones .iq {
  background-position: 0 -1872px; }
.cc-phones .ir {
  background-position: 0 -1888px; }
.cc-phones .is {
  background-position: 0 -1904px; }
.cc-phones .it {
  background-position: 0 -1920px; }
.cc-phones .je {
  background-position: 0 -1936px; }
.cc-phones .jm {
  background-position: 0 -1952px; }
.cc-phones .jo {
  background-position: 0 -1968px; }
.cc-phones .jp {
  background-position: 0 -1984px; }
.cc-phones .ke {
  background-position: 0 -2000px; }
.cc-phones .kg {
  background-position: 0 -2016px; }
.cc-phones .kh {
  background-position: 0 -2032px; }
.cc-phones .ki {
  background-position: 0 -2048px; }
.cc-phones .km {
  background-position: 0 -2064px; }
.cc-phones .kn {
  background-position: 0 -2080px; }
.cc-phones .kp {
  background-position: 0 -2096px; }
.cc-phones .kr {
  background-position: 0 -2112px; }
.cc-phones .kw {
  background-position: 0 -2128px; }
.cc-phones .ky {
  background-position: 0 -2144px; }
.cc-phones .kz {
  background-position: 0 -2160px; }
.cc-phones .la {
  background-position: 0 -2176px; }
.cc-phones .lb {
  background-position: 0 -2192px; }
.cc-phones .lc {
  background-position: 0 -2208px; }
.cc-phones .li {
  background-position: 0 -2224px; }
.cc-phones .lk {
  background-position: 0 -2240px; }
.cc-phones .lr {
  background-position: 0 -2256px; }
.cc-phones .ls {
  background-position: 0 -2272px; }
.cc-phones .lt {
  background-position: 0 -2288px; }
.cc-phones .lu {
  background-position: 0 -2304px; }
.cc-phones .lv {
  background-position: 0 -2320px; }
.cc-phones .ly {
  background-position: 0 -2336px; }
.cc-phones .ma {
  background-position: 0 -2352px; }
.cc-phones .md {
  background-position: 0 -2368px; }
.cc-phones .me {
  background-position: 0 -2384px; }
.cc-phones .mg {
  background-position: 0 -2400px; }
.cc-phones .mh {
  background-position: 0 -2416px; }
.cc-phones .mk {
  background-position: 0 -2432px; }
.cc-phones .ml {
  background-position: 0 -2448px; }
.cc-phones .mm {
  background-position: 0 -2464px; }
.cc-phones .mn {
  background-position: 0 -2480px; }
.cc-phones .mo {
  background-position: 0 -2496px; }
.cc-phones .mq {
  background-position: 0 -2512px; }
.cc-phones .mr {
  background-position: 0 -2528px; }
.cc-phones .ms {
  background-position: 0 -2544px; }
.cc-phones .mt {
  background-position: 0 -2560px; }
.cc-phones .mu {
  background-position: 0 -2576px; }
.cc-phones .mv {
  background-position: 0 -2592px; }
.cc-phones .mw {
  background-position: 0 -2608px; }
.cc-phones .mx {
  background-position: 0 -2624px; }
.cc-phones .my {
  background-position: 0 -2640px; }
.cc-phones .mz {
  background-position: 0 -2656px; }
.cc-phones .na {
  background-position: 0 -2672px; }
.cc-phones .nc {
  background-position: 0 -2688px; }
.cc-phones .ne {
  background-position: 0 -2704px; }
.cc-phones .ng {
  background-position: 0 -2720px; }
.cc-phones .ni {
  background-position: 0 -2736px; }
.cc-phones .nl {
  background-position: 0 -2752px; }
.cc-phones .bq {
  background-position: 0 -2752px; }
.cc-phones .no {
  background-position: 0 -2768px; }
.cc-phones .bv {
  background-position: 0 -2768px; }
.cc-phones .nq {
  background-position: 0 -2768px; }
.cc-phones .sj {
  background-position: 0 -2768px; }
.cc-phones .np {
  background-position: 0 -2784px; }
.cc-phones .nr {
  background-position: 0 -2800px; }
.cc-phones .nz {
  background-position: 0 -2816px; }
.cc-phones .om {
  background-position: 0 -2832px; }
.cc-phones .pa {
  background-position: 0 -2848px; }
.cc-phones .pe {
  background-position: 0 -2864px; }
.cc-phones .pf {
  background-position: 0 -2880px; }
.cc-phones .pg {
  background-position: 0 -2896px; }
.cc-phones .ph {
  background-position: 0 -2912px; }
.cc-phones .pk {
  background-position: 0 -2928px; }
.cc-phones .pl {
  background-position: 0 -2944px; }
.cc-phones .pr {
  background-position: 0 -2960px; }
.cc-phones .ps {
  background-position: 0 -2976px; }
.cc-phones .pt {
  background-position: 0 -2992px; }
.cc-phones .pw {
  background-position: 0 -3008px; }
.cc-phones .py {
  background-position: 0 -3024px; }
.cc-phones .qa {
  background-position: 0 -3040px; }
.cc-phones .re {
  background-position: 0 -3056px; }
.cc-phones .ro {
  background-position: 0 -3072px; }
.cc-phones .rs {
  background-position: 0 -3088px; }
.cc-phones .ru {
  background-position: 0 -3104px; }
.cc-phones .rw {
  background-position: 0 -3120px; }
.cc-phones .sa {
  background-position: 0 -3136px; }
.cc-phones .sb {
  background-position: 0 -3152px; }
.cc-phones .sc {
  background-position: 0 -3168px; }
.cc-phones .sd {
  background-position: 0 -3184px; }
.cc-phones .se {
  background-position: 0 -3200px; }
.cc-phones .sg {
  background-position: 0 -3216px; }
.cc-phones .si {
  background-position: 0 -3232px; }
.cc-phones .sk {
  background-position: 0 -3248px; }
.cc-phones .sl {
  background-position: 0 -3264px; }
.cc-phones .sm {
  background-position: 0 -3280px; }
.cc-phones .sn {
  background-position: 0 -3296px; }
.cc-phones .so {
  background-position: 0 -3312px; }
.cc-phones .sr {
  background-position: 0 -3328px; }
.cc-phones .st {
  background-position: 0 -3344px; }
.cc-phones .sv {
  background-position: 0 -3360px; }
.cc-phones .sy {
  background-position: 0 -3376px; }
.cc-phones .sz {
  background-position: 0 -3392px; }
.cc-phones .tc {
  background-position: 0 -3408px; }
.cc-phones .td {
  background-position: 0 -3424px; }
.cc-phones .tg {
  background-position: 0 -3440px; }
.cc-phones .th {
  background-position: 0 -3456px; }
.cc-phones .tj {
  background-position: 0 -3472px; }
.cc-phones .tl {
  background-position: 0 -3488px; }
.cc-phones .tm {
  background-position: 0 -3504px; }
.cc-phones .tn {
  background-position: 0 -3520px; }
.cc-phones .to {
  background-position: 0 -3536px; }
.cc-phones .tr {
  background-position: 0 -3552px; }
.cc-phones .tt {
  background-position: 0 -3568px; }
.cc-phones .tv {
  background-position: 0 -3584px; }
.cc-phones .tw {
  background-position: 0 -3600px; }
.cc-phones .tz {
  background-position: 0 -3616px; }
.cc-phones .ua {
  background-position: 0 -3632px; }
.cc-phones .ug {
  background-position: 0 -3648px; }
.cc-phones .us {
  background-position: 0 -3664px; }
.cc-phones .uy {
  background-position: 0 -3680px; }
.cc-phones .uz {
  background-position: 0 -3696px; }
.cc-phones .va {
  background-position: 0 -3712px; }
.cc-phones .vc {
  background-position: 0 -3728px; }
.cc-phones .ve {
  background-position: 0 -3744px; }
.cc-phones .vg {
  background-position: 0 -3760px; }
.cc-phones .vi {
  background-position: 0 -3776px; }
.cc-phones .vn {
  background-position: 0 -3792px; }
.cc-phones .vu {
  background-position: 0 -3808px; }
.cc-phones .ws {
  background-position: 0 -3824px; }
.cc-phones .ye {
  background-position: 0 -3840px; }
.cc-phones .za {
  background-position: 0 -3856px; }
.cc-phones .zm {
  background-position: 0 -3872px; }
.cc-phones .zw {
  background-position: 0 -3888px; }
.cc-phones .sx {
  background-position: 0 -3904px; }
.cc-phones .cw {
  background-position: 0 -3920px; }
.cc-phones .ss {
  background-position: 0 -3936px; }
.cc-phones .nu {
  background-position: 0 -3952px; }

/*# sourceMappingURL=flags.css.map */
